<!DOCTYPE html>
<html>

<head>
    <% include navi/head %>
</head>

<body class="container">
    <% include navi/header %><br/>
    <nav class="navbar shadow-sm p-3 mb-5 rounded">
        <h5 class="text-body"> Latest Blocks </h5>
        <table class="table" style="width: 100%; table-layout:fixed; word-break:break-all;">
            <thead>
                <tr>
                    <th scope="col">Blocks Number</th>
                    <th scope="col">Miner</th>
                    <th scope="col">txns</th>
                </tr>
            </thead>
            <tbody>
                <%- bkList %>
            </tbody>
        </table>
    </nav>
    
    <nav class="navbar shadow-sm p-3 mb-5 rounded" style="border-color: slateblue">
        <h5 class="text-body"> Latest Transactions </h5>
        <table class="table" style="width: 100%; table-layout:fixed; word-break:break-all;">
            <thead>
                <tr>
                    <th scope="col">Tx</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                </tr>
            </thead>
            <tbody>
                <%- txList %>
            </tbody>
        </table>
    </nav>
</body>

</html>