<nav class="navbar">
    <a class="navbar-brand" href="/">
        <img src="../public/images/escan.png" width="" height="40" alt="">
    </a>
    <form class="form-inline" action="/block" style="width: 50%;" method="post">
        <input class="form-control" type="search" style="width: 80%; margin-right: 5px;"
            placeholder="Search by Address/ Txn Hash / Block" name="address" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> 
</nav>  